@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_AdminLayaoutHeadComponenPartial")
<body>
	<div class="container-xxxl position-relative bg-white d-flex p-0">
		@await Component.InvokeAsync("_AdminLayaoutSpinerComponentPartial")
		@await Component.InvokeAsync("_AdminLayaoutSideBarComponentPartial")
		<div class="content">
			@await Component.InvokeAsync("_AdminLayaoutNavBarComponentPartial")
			@RenderBody()
			@await Component.InvokeAsync("_AdminLayaoutFooterComponenPartial")
		</div>
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>
	@await Component.InvokeAsync("_AdminLayaoutScriptComponentPartial")
</body>
</html>

